rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Inquiries: Anyone can submit.
    match /inquiries/{inquiryId} {
      allow create: if true;
      allow read, delete: if true; 
    }

    // Admin Config: allow the dashboard to set its own password
    match /settings/{docId} {
      allow read, write: if true;
    }
  }
}
